@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

body.ea-dark-scheme {
    .form-control, .form-select {
        background-color: var(--form-control-bg);

        &:active, &:focus {
            background-color: var(--form-control-bg);
        }

        & option {
            background-color: var(--form-control-bg)!important;
        }
    }

    .nav {
        --bs-nav-link-color: #adb5bd;
        --bs-nav-tabs-link-active-color: white;
        --bs-nav-link-hover-color: white;
    }
}