// assets/css/global.js

// let's customise some Bootstrap variables

$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";

.footer {
  @extend .text-white;

  bottom: 0;
  width: 100%;
  background-color: #bd0000;

  a {
    color: #FFE300;
    font-weight: bold;
  }
}

.jumbotron {
  background-color: lightblue;

  & a {
    text-decoration: none;
  }
}

.form-step {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.form-tab {
  // display: none;
}

.form-step.active {
  opacity: 1;
}

.form-step.finish {
  background-color: #4caf50;
}

.max-vh-90 {
  max-height: 90vh;
}