@import "./global.scss";

.linea {
  background-color: theme-color('alert');

  &[data-status='idle'] {
    background-color: theme-color('success');

    & .linea-busy {
      display: none;
    }
  }

  &[data-status='busy'] {
    background-color: theme-color('danger');

    & .linea-idle {
      display: none;
    }
  }
}