@import "./global.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

button#wrapper-lineas {
  padding: 0;
  border: 0;

  & .spinner-border {
    height: 5em;
    width: 5em;
  }

  &:disabled {
    & .linea {
      background-color: theme-color('secondary') !important;

      & *:not(.loading-text) {
        display: none;
      }

      & > * {
        display: block!important;
      }
    }

    & .linea-busy, & .linea-idle {
      display: none;
    }
  }

  &:not(:disabled) {
    & .linea .loading-text {
      display: none;
    }
  }
}

#changeLineButtons {
  background-color: theme-color('secondary');
  color: theme-color('light')!important;

  & a {
    color: theme-color('light');
    text-decoration: none;
  }

  & .bi {
    font-size: 3em;
  }
   & .col + .col {
     border-left: 1px solid theme-color('light');
   }
}

tr.linea {
  cursor: pointer;
}

.linea {
  background-color: theme-color('alert');

  &[data-status='idle'] {
    background-color: theme-color('success');

    & .linea-busy {
      display: none;
    }
  }

  &[data-status='busy'] {
    background-color: theme-color('danger');

    & .linea-idle {
      display: none;
    }
  }
}

button.close {
  font-size: 3em;
}