<!-- Based on https://www.w3schools.com/howto/howto_js_form_steps.asp -->
<!--<form id="cuentameForm">-->
{{ form(form) }}
<small class="text-justify text-muted pb-3">
    La Mancomunidad de Servicios Sociales Mejorada-Velilla, con C.I.F P2800095H, con domicilio en Plaza de España Nº1,
    CP: 28840, Mejorada del Campo, Madrid, teléfono 916793327 y correo electrónico
    serviciossociales@mejoradadelcampo.org,
    en base a la Ley de Servicios Sociales de la Comunidad de Madrid 11/2003 de 27 de marzo,  en base a la Ley 34/2002 de
    Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE), en vigor desde el 12 de octubre de 2002
    y del Reglamento (UE) 2016/679 del Parlamento y del Consejo, de 27 de abril, General de Protección de Datos, trata la
    información que nos facilita con la finalidad de gestionar los datos requeridos para el desarrollo de la presente
    actividad. La Mancomunidad se reserva el derecho al empleo de dicha información, la cual está sujeta a la más estricta
    confidencialidad salvo para las personas a las que ésta va dirigida. Estos datos se conservarán hasta la finalización
    de la actividad, tras la cual serán eliminados por completo de nuestra base de datos. Tampoco se cederán a terceros
    salvo en los casos en los que exista una obligación legal.
</small>
{#
    <h1>¿Quieres escuchar un poema?</h1>
    <div class="form-tab">
        Name:
        <p><input placeholder="Nombre" oninput="this.className=''"></p>
    </div>

    <div class="form-tab">
        Page 2:
        O más idk
        <p><input placeholder="Idk" oninput="this.className=''"></p>
    </div>

    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
            <button type="button" id="nextBtn" onclick="nextPrev(+1)">Siguiente</button>
        </div>
    </div>

    <div style="text-align:center; margin-top: 40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
#}
<!--</form>-->