<!-- Based on https://www.w3schools.com/howto/howto_js_form_steps.asp -->
<!--<form id="cuentameForm">-->
{{ form(form) }}
{#
    <h1>¿Quieres escuchar un poema?</h1>
    <div class="form-tab">
        Name:
        <p><input placeholder="Nombre" oninput="this.className=''"></p>
    </div>

    <div class="form-tab">
        Page 2:
        O más idk
        <p><input placeholder="Idk" oninput="this.className=''"></p>
    </div>

    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
            <button type="button" id="nextBtn" onclick="nextPrev(+1)">Siguiente</button>
        </div>
    </div>

    <div style="text-align:center; margin-top: 40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
#}
<!--</form>-->