<!-- Based on https://www.w3schools.com/howto/howto_js_form_steps.asp -->
<!--<form id="cuentameForm">-->
{% if open %}
{{ form(form) }}
{% else %}
    <h1>Solicitudes cerradas</h1>
    <p>Lo sentimos, pero el formulario está cerrado. Hemos llegado al máximo de solicitudes que podemos abarcar, ¡muchas
        gracias a tod@s!
        <br>
        Esperamos que nos llames el año que viene en Poemas o Cuentos por Teléfono. ¡Nos vemos!</p>
{% endif %}
{% include '/pxt/_tratdatos.html.twig' %}