{# templates/pxt/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block header %}
    {{ component('jumbotron') }}
{% endblock %}
{% block body %}
<div class="container mb-3">
    {% include '/pxt/_messages.html.twig' %}
    {{ form(form) }}
    {% include '/pxt/_tratdatos.html.twig' %}
</div>
{% endblock %}
