<footer class="footer font-small mt-3">
    <!-- Based on https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
    <div class="footer-copyright text-center py-3">
        © 2018 - {{ 'now' | date('Y') }} | Web creada por <a href="https://ddavo.me" target="_blank">David&nbsp;Davó</a> para los chicos y chicas de <a href="https://montandoellocal.com" target="_blank">Montando&nbsp;el&nbsp;Local</a>
    </div>
</footer>