<footer class="footer font-small mt-auto">
    <!-- Based on https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
    <div class="footer-copyright text-center py-3">
        2021 - Creado por <a href="https://ddavo.me" target="_blank">David Davó</a> para <a href="https://montandoellocal.com" target="_blank">Montando el Local</a>
    </div>
</footer>