<footer class="footer font-small mt-3">
    <!-- Based on https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
    {#
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-6">
                <p>Hola Mundo!</p>
            </div>
        </div>
    </div>#}
    <div class="footer-copyright text-center py-3">
        2020 - Creado por <a href="https://ddavo.me" target="_blank">David Davó</a>
    </div>
</footer>