<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}"
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}{% include '_header.twig' %}{% endblock %}
        <main class="container" role="main">
        {% block body %}{% endblock %}
        <script src="{{ asset('build/global.js') }}"></script>
        {% block javascripts %}{% endblock %}
        </main>
        {% block footer %}{% include '_footer.twig' %}{% endblock %}
    </body>
</html>
