<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}"
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <main class="container" role="main">
        {% block body %}{% endblock %}
        <script src="{{ asset('build/global.js') }}"></script>
        {% block javascripts %}{% endblock %}
        </main>
        {% include '_footer.twig' %}
    </body>
</html>
